<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <!--<classes>
      <class name="com.presto.driver.MainDriver.java"/>
    </classes> -->
     <packages>
      <package name="com.presto.testscripts" />
     </packages>
    
    
  </test> <!-- Test -->
</suite> <!-- Suite -->